.pull-requests-index {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1rem;
}

.pull-request-container {
	width: min(80%, 30rem);
}

.pull-request-box {
	display: flex;
	flex-flow: column nowrap;
	padding: 1rem;
	margin: 1rem;
	gap: .6rem;

	border: .22rem solid rgb(170, 60, 100);
	border-radius: 4px 6px;
	background: rgb(255, 240, 240);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.pull-request-info {
	display: flex;
	flex-flow: row wrap;
	padding: .4rem;
	gap: 1em;
	align-items: center;
	background: rgb(150 150 150 / 0.2);
	backdrop-filter: 2px;
}

.pull-request-annotations {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: .4em;
}

.pull-request-annotations div {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	gap: .2em;

	background: rgb(150 150 150 / 0.4);
	border-radius: 5px;
	padding: .2rem .5rem;
	border: .12rem solid rgb(190, 80, 120);
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.pull-request-notes {
	background-color: rgb(230, 230, 255);
	border: .15rem solid rgb(100, 140, 210);
	padding: .4rem 1rem;
	min-width: 50%;
	min-height: 2rem;
}

.pull-request-time {
	opacity: 60%;
	font-size: .8rem;
}

.sort-selectors-form {
	align-self: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	width: min(80%, 30rem);

	background: rgb(240, 250, 240);
	border: 1px rgb(30, 100, 100) solid;
	
	padding: .5rem;
	gap: .8rem;
	margin: 1rem auto;
}

.sort-selectors-form div {
}
